.table-box {
  position: relative;
  max-height: 100%;
  overflow: auto;

  table {
    thead th, tbody td {
      text-align: center;
    }
  }

  table > tbody > tr > td, table > thead > tr > th {
    width: 130px;
  }

  .table-top-left {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image: url(data:image/gif;base64,AAAA);
  }
  .table-top {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image: url(data:image/gif;base64,AAAA);
  }
  .table-left {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-image: url(data:image/gif;base64,AAAA);
  }

  .table-left-top > table, .table-left > table, .table-top > table {
    position: absolute;
  }

  .table-main {
    .table-left-cell, .table-top-cell, .table-top-left-cell {
      visibility: hidden;
    }
  }

  .table-top-left, .table-top {
    height: 100px;
  }

  .table-top-left, .table-top, .table-left {
    table {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .table-top > table {
    th, td {
      visibility: hidden;
    }
    .table-top-cell {
      visibility: visible;
      pointer-events: auto;
    }
  }

  .table-left > table {
    th, td {
      visibility: hidden;
    }

    .table-left-cell {
      visibility: visible;
      pointer-events: auto;
    }
  }

  .table-top-left > table {
    th, td {
      visibility: hidden;
    }

    .table-top-left-cell {
      visibility: visible;
      pointer-events: auto;
    }
  }

  table > thead > tr > th {
    &.sortable {
      background-image: url(/static/images/sort.sortable.png?__inline);
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
    &.sort-asc {
      background-image: url(/static/images/sort.asc.png?__inline);
      background-repeat: no-repeat;
      background-position: center right;
    }
    &.sort-desc {
      background-image: url(/static/images/sort.desc.png?__inline);
      background-repeat: no-repeat;
      background-position: center right;
    }
  }
  table.amt-table-longitudinal-striped > tbody > tr {
    > td:nth-of-type(6n+6), > td:nth-of-type(6n+7), > td:nth-of-type(6n+8) {
      background-color: #fafafa;
    }
  }

  table > tbody > tr > td:nth-of-type(2),
  table > thead > tr:nth-of-type(1) > th:nth-of-type(1),
  table > thead > tr:nth-of-type(2) > th:nth-of-type(2) {
    border-right: 1px solid #ddd;
  }

  table > thead {
    white-space: nowrap;
  }
}

.amt-table-box.full-screen {
  .table-box {
    height: auto;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
